/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Ubuntu", sans-serif;
   background: #feac5e; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to right,
      #4bc0c8,
      #c779d0,
      #feac5e
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #4bc0c8,
      #c779d0,
      #feac5e
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Nav */
#main-nav .container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 1rem;
}

#main-nav .container h1 a,
#main-nav .container p {
   color: rgb(255, 253, 253);
   text-decoration: none;
}

/* Main App */

::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: rgb(197, 151, 151);
   font-size: 2rem;
}

.filter::-webkit-input-placeholder {
   padding: 100px 5px;
   text-align: center;
   transform: translateY(3px);

   /* Chrome/Opera/Safari */
   color: rgb(255, 255, 255);

   font-size: 1.4rem;
}

#app {
   display: flex;
   background-color: rgba(255, 255, 255, 0.8);
   height: 80vh;
   width: 30vw;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border: 1px solid rgb(58, 58, 58); */
   box-shadow: 0px 0px 100px rgb(255, 255, 255);
   border-radius: 50px;
}

/* #app .container {
   width: 100%;
   margin: 0 auto;
   padding: 2rem;
} */

.add-task {
   background-color: rgb(58, 58, 58);
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   font-size: 3rem;
   text-transform: uppercase;
   transition: 0.4s;
}

/* Input */

form h1 {
   text-align: center;
   padding: 0 0 1rem 0;
}
input.filter {
   display: flex;
   width: 80%;
   margin: 2rem auto;
   height: 5vh;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 5px;
}

label {
   width: 100%;
}

/* List of Tasks */

.sum-tasks {
   font-family: "Nanum Pen Script";
   text-align: center;
   font-size: 3rem;

   color: white;
}

.tasks-list {
   width: 90%;
   height: 100%;
   overflow: scroll;
}

.tasks-list .tasks {
   width: 100%;
}
.tasks-list > h1 {
   font-size: 0.6rem;
   text-align: center;
   margin-bottom: 1rem;
}

.tasks {
   display: flex;
   transform: rotate(180deg);
   align-items: flex-end;
   flex-direction: column;
   width: 100%;
   list-style: none;
}

.input-container h1 {
   text-align: center;
   font-size: 3rem;
   text-decoration: underline;
}

/* Single Task */

input:focus {
   border: 2px solid rgba(255, 255, 255, 0.995);
   outline: none;
}

.single-task {
   transform: rotate(-180deg);
   display: flex;
   margin: 0.5rem auto;
   width: 90%;
   font-size: 1rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   transition: 0.3s;
   background-color: white;
   color: rgb(48, 48, 48);
   cursor: pointer;
   border: 2px solid rgb(254, 254, 254);
   border-radius: 5px;
}

.single-task span.delete {
   font-size: 1rem;
   padding: 0.5rem;
   color: rgb(52, 52, 52);
   cursor: pointer;
   text-decoration: none;
   /* border: 2px solid red; */
}

li.single-task {
   padding-left: 1rem;
}

.done {
   display: flex;
   border-radius: 5px;
   font-size: 1rem;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   transition: 0.4s;
   /* background-color: rgb(113, 242, 118); */
   /* color: white; */
   border: 2px solid rgb(255, 255, 255);
}

/* .tasks .single-task {
   margin: 1rem;
   padding: 1rem 1rem;
   font-size: 0.9rem;
} */
/* .tasks .single-task:hover {
   background-color: rgb(97, 196, 145);
   border: 1px solid rgb(97, 196, 145);
   color: white;
   font-size: 1.24rem;
} */

/* Footer */
#main-footer {
   margin-top: 3rem;
}

#main-footer .container p {
   font-size: 1rem;
   font-style: oblique;
   padding: 0rem 1rem 0rem 1rem;
   text-align: center;
   color: rgb(255, 255, 255);
}

.completed {
   color: rgb(43, 247, 142);
}

.x {
   color: black;
   font-size: 1.1rem;
}
