/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Variables */
:root {
   --main: #333334;
}

body {
   font-family: "Ubuntu", sans-serif;
}

.top-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 1rem;
   background-color: white;
   height: 8vh;
   color: var(--main);
}

.app {
   display: flex;
   justify-content: center;
   align-items: center;
}
.app-container {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 80vh;
   width: 80vw;
}

.top-container,
.middle-container {
   width: 100%;
   /* border: 3px solid black; */
   margin: 0.4rem;
   background-color: var(--main);
   border-radius: 7px;
}
.top-container {
   display: flex;
   height: 30%;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
}

.top-container .title {
   margin-top: 1rem;
   font-size: 1.7rem;
   color: white;
}
.top-container .data {
   font-size: 1rem;
   color: white;
}
.top-container .numbers {
   width: 80%;
   font-size: 0.9rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}

.top-container .numbers .pending,
.top-container .numbers .complete {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
   border-radius: 7px;
   padding: 0.5rem 0.8rem;
   margin: 1rem;
   width: 60%;
}

.top-container .numbers .pending {
   background-color: rgb(235, 76, 76);
}
.top-container .numbers .complete {
   background-color: rgb(64, 196, 64);
}

.test {
   margin: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   width: 80%;
   height: 16%;
}

.icon {
   background-color: #fff;
}
.top-container .search {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 4vh;
   border-radius: 4px;
   border: none;
}

.middle-container {
   display: flex;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   overflow: scroll;
   min-height: 40vh;
   max-height: 60vh;
}

.tasks {
   margin: 2rem 0.5rem;
   padding: 1rem;
   max-height: 50vh;
}

.bottom-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10%;
   border: 2px solid var(--main);
   border-radius: 7px;
}

.alert {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   color: white;
   background-color: rgb(244, 86, 86);
   width: 100%;
   height: 10vh;
   border: 2px solid red;
   border-radius: 7px;
}
.hide {
   display: none;
}
.hide-alert {
   display: none;
}

/* Date */

.date {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.7rem;
   text-shadow: 0px 0px 70px #919191;
   font-size: 0.8rem;
   color: white;
   font-weight: 600;
}

label {
   width: 100%;
}

/* List of Tasks */

#add {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

#add .add-task {
   width: 12vw;
   height: 6vh;
   font-size: 1.4rem;
   font-weight: 700;
   color: white;
   background-color: var(--main);
   transition: 0.2s ease-in;
   border: 3px solid white;
   border-radius: 6px;
}

.input {
   height: 4vh;
   width: 70%;
   font-size: 1.2rem;
   margin-right: 1rem;
   display: block;
   justify-content: center;
   align-items: center;
   border: none;
}

.input-container h1 {
   text-align: center;
   font-size: 3rem;
   text-decoration: underline;
}

/* Single Task */

li.single-task {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 100%;
   padding: 0.2rem 0.5rem;
   font-weight: 500;
   margin: 0.5rem auto;
   background-color: transparent;
   font-size: 1rem;
   flex-direction: row;
   transition: 0.3s ease-in;
   color: rgb(255, 255, 255);
   cursor: pointer;

   border-radius: 5px;
}

li.done {
   transition: 0.4s;
   color: rgb(208, 27, 27);
   text-decoration: line-through;
}
li.done {
   text-decoration: none;
}

.single-task span.delete {
   font-size: 0.7rem;
   padding: 0.5rem;
   margin-left: 0.5rem;
   font-weight: 900;
   color: var(--main);
   cursor: pointer;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
}
li.single-task {
   padding-left: 1rem;
}

/* Footer */

#main-footer {
   margin-top: 1rem;
}
#main-footer .container p {
   padding: 0rem 1rem 0rem 1rem;
   font-size: 0.9rem;
   font-style: oblique;
   text-align: center;
   color: rgb(121, 121, 121);
}
.completed {
   color: rgb(64, 196, 64);
   font-size: 1rem;
}
.x {
   color: rgb(223, 94, 94);
   font-size: 1.1rem;
}

/* PlaceHolders */
::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   height: 3vh;
   color: #333;
   font-size: 1.1rem;
   text-align: left;
   border: none;
   color: rgb(87, 87, 87);
   font-weight: 300;
}
.filter::-webkit-input-placeholder {
   padding: 1rem;
   color: rgb(70, 68, 68);
   font-size: 1rem;
}

input:focus {
   border: 2px solid rgba(255, 255, 255, 0.995);
   outline: none;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
   .app-container {
      margin: 0 auto;
      max-width: 60vw;
   }
}

@media only screen and (min-width: 800px) {
   .app-container {
      margin: 0 auto;
      max-width: 40vw;
   }
}
@media only screen and (min-width: 1000px) {
   .app-container {
      margin: 0 auto;
      max-width: 40vw;
   }
}
