/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Variables */
:root {
   --main: rgb(0, 102, 255);
}

body {
   font-family: "Ubuntu", sans-serif;
   background: #00c6ff; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to left,
      #0072ff,
      #00c6ff
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to left,
      #0072ff,
      #00c6ff
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Main Container */

.app {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: 85vh;
   margin: 1rem;
}

/* Logo and colour button */

.top-bar {
   height: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: white;
   color: var(--main);
}

.top-container {
   display: flex;
   height: 35%;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}

.middle-container {
   height: 50vh;
   max-height: 50vh;
   padding: 0rem 0.5rem;
   overflow: scroll;
}

.bottom-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 10%;
   margin-top: 0.2rem;
   border: 2px solid var(--main);
   border-radius: 10px;
   background-color: #fff;
}

.top-container,
.middle-container {
   width: 100%;
   margin: 0.4rem;
   background-color: var(--main);
   border-radius: 10px;
   box-shadow: 0 0 10px 2px rgb(0, 102, 255);
   border: 2px solid white;
}

.top-container .title {
   font-weight: 700;
   margin-top: 1rem;
   font-size: 1.7rem;
   color: white;
}
.top-container .date {
   margin-top: 0.5rem;
   font-size: 1rem;
   color: white;
}
.top-container .numbers {
   width: 80%;
   font-size: 0.8rem;
   font-weight: 700;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
}

.top-container .pending,
.top-container .complete {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   color: white;
   border-radius: 7px;
   padding: 0.5rem 0.8rem;
   margin: 1rem;
   width: 60%;
}

.top-container .search {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 4vh;
   border-radius: 4px;
   border: none;
}

/* Top panel with tasks numbers */

.pendingx,
.completex {
   font-size: 1rem;
   font-weight: 700;
   margin: 0.2rem 0.5rem;
}

.top-container .numbers .pending {
   background-color: rgb(235, 76, 76);
}
.top-container .numbers .complete {
   background-color: rgb(47, 227, 47);
}

/* List of Tasks */

#add {
   display: flex;
   width: 100%;
   height: 20%;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   background-color: #fff;
   border-radius: 7px;
}

#add .add-task {
   width: 30%;
   margin: 0 1rem;
   height: 100%;
   font-size: 1.7rem;
   font-weight: 900;
   color: white;
   background-color: var(--main);
   transition: 0.2s ease-in;
   border: none;
   border-radius: 7px;
}

.input,
.search {
   height: 4vh;
   width: 70%;
   font-size: 1.2rem;
   margin-right: 1rem auto;
   display: block;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 70px;
}

.input-container h1 {
   text-align: center;
   font-size: 3rem;
   text-decoration: underline;
}

.search input {
   font-size: 1rem;
}

.tasks {
   padding: 0.5rem;
}

/* Single Task */

li.single-task {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 100%;
   padding: 0.2rem 0.3rem;
   font-weight: 500;
   margin: 0.7rem auto;
   background-color: transparent;
   font-size: 0.8rem;
   flex-direction: row;
   transition: 0.3s ease-in;
   color: black;
   background-color: white;
   cursor: pointer;
   border-radius: 8px;
   transition: 0.4s;
}

li.single-task:hover {
   transform: scale(1.05);
}

li.done {
   transition: 0.4s;
   color: white;
   text-decoration: line-through;
   background-color: rgb(47, 227, 47);
}
li.done {
   text-decoration: none;
}

.single-task span.delete {
   font-size: 1rem;
   font-weight: 500;
   padding: 0.5rem;
   margin-left: 0.5rem;
   font-weight: 900;
   color: white;
   cursor: pointer;
   background-color: var(--main);
   border-radius: 5px;
}
li.single-task {
   padding-left: 1rem;
}

/* Change colour section */

.button-colour {
   margin-left: 1.5rem;
   background-color: rgb(0, 102, 255);
   padding: 0.8rem 1.2rem;
   border-radius: 10px;
   font-size: 0.7rem;
   text-transform: uppercase;
   text-align: center;
   color: white;
   font-weight: 700;
}

.rangeContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

.conta {
   display: flex;
   padding: 0.5rem;
   justify-content: center;
   align-items: center;
   width: 70%;
}

.rangeNumber {
   margin: 1rem auto;
   padding: 1rem;
   color: white;
   background-color: rgb(0, 102, 255);
   width: 50%;
   border-radius: 3px;
}
.rangeName {
   text-align: left;
}
.range-input {
   width: 300%;
}

label {
   color: white;
   width: 100%;
}
/* Footer */

#main-footer {
   margin-top: 1rem;
}
#main-footer .container p {
   padding: 0rem 1rem 0rem 1rem;
   font-size: 0.9rem;
   text-align: center;
   color: rgb(255, 255, 255);
}
.completed {
   color: rgb(47, 227, 47);
   font-size: 1rem;
   font-weight: 700;
}
.x {
   color: rgb(223, 94, 94);
   font-size: 1.1rem;
   font-weight: 700;
}

/* PlaceHolders */
::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   height: 3vh;
   color: #333;
   font-size: 1.1rem;
   text-align: left;
   border: none;
   color: rgb(87, 87, 87);
   font-weight: 500;
}
.filter::-webkit-input-placeholder,
.search::-webkit-input-placeholder {
   padding: 1rem;
   color: rgb(70, 68, 68);
   font-size: 1rem;
}

#add input::placeholder {
   padding-left: 1rem;
}

input:focus {
   border: 2px solid rgba(255, 255, 255, 0.995);
   outline: none;
}

.tasks-list {
   width: 100%;
}

/* Input Alert */

.alert {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   color: white;
   background-color: rgb(244, 86, 86);
   width: 100%;
   height: 8vh;
   border: 2px solid red;
   border-radius: 7px;
}
.hide,
.rangeContainer.hide {
   display: none;
}
.hide-alert {
   display: none;
}

.noresults {
   padding: 2rem;
   color: white;
   font-size: 1.2rem;
   display: none;
   justify-content: center;
   align-items: center;
   background-color: white;
   border-radius: 10px;
   color: rgb(54, 54, 54);
}
.noresults.show {
   display: flex;
}

/* Media Queries */

@media only screen and (min-width: 500px) {
   .app {
      margin: 0 auto;
      max-width: 90vw;
      padding: 2rem;
   }
   .rangeContainer {
      margin: 0 auto;
      max-width: 70vw;
   }
   li.single-task {
      font-size: 1.1rem;
      margin: 1.2rem auto;
   }
}

@media only screen and (min-width: 700px) {
   .app {
      margin: 0 auto;
      max-width: 65vw;
   }
   .rangeContainer {
      margin: 0 auto;
      max-width: 55vw;
   }

   li.single-task {
      margin: 1.4rem 0;
      width: 60%;
      font-size: 1.1rem;
   }
}
@media only screen and (min-width: 1000px) {
   .app {
      margin: 0 auto;
      max-width: 55vw;
   }
   .rangeContainer {
      margin: 0 auto;
      max-width: 45vw;
   }
   .tasks {
      padding: 0.3rem 1.5rem;
   }

   li.single-task {
      margin: 1.5rem auto;
      width: 60%;
      font-size: 1.1rem;
   }
}
@media only screen and (min-width: 1200px) {
   .app {
      margin: 0 auto;
      max-width: 40vw;
   }

   .rangeContainer {
      margin: 0 auto;
      max-width: 45vw;
   }

   .tasks {
      padding: 0.3rem 1.5rem;
   }
   li.single-task {
      margin: 1.5rem auto;
      font-size: 1.2rem;
   }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-4 22:25:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */

@keyframes shake-horizontal {
   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }
   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }
   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }
   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}

.shake-horizontal {
   -webkit-animation: shake-horizontal 1.3s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
   animation: shake-horizontal 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
